[Globals]
NUM_THREADS = <NUMBER OF CORES AVAILABLE>
OUTPUT_DIR = <WHERE TO WRITE OUTPUT TO>
PRIMARY_CONDA_ENV = phatcat
SGE = <Running on SGE cluster?: True or False>
NUM_NODES = <Number of nodes if running on cluster>

[core]
log_level = <DEBUG, INFO, WARNING, ERROR, or CRITICAL>

[PhageTerm]
phageterm_loc = <FULL PATH TO PhageTerm.py>
python2env = py27
